{% extends "base.html" %}
{% block content %}

<h2>Admin Panel</h2>

<!-- CREATE USER -->
<div class="card p-4 mb-4">

<h5>Create New User</h5>

<form method="POST">

<label>Username</label>
<input class="form-control" name="username" required>

<br>

<label>Password</label>
<input class="form-control" name="password" required>

<br>

<label>Role</label>
<select class="form-control" name="role" required>
    <option value="sales">Sales</option>
    <option value="production">Production</option>
</select>

<br>

<button class="btn btn-primary">Create User</button>

</form>

</div>


<!-- USERS TABLE -->
<div class="card p-4">

<h5>All Users</h5>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Username</th>
<th>Role</th>
<th>Action</th>
</tr>

{% for user in users %}
<tr>

<td>{{ user.id }}</td>
<td>{{ user.username }}</td>
<td>{{ user.role }}</td>

<td>

<a href="/edit_user/{{ user.id }}" class="btn btn-warning btn-sm">Edit</a>

{% if user.username != current_user.username %}
<a href="/delete_user/{{ user.id }}" class="btn btn-danger btn-sm">
Delete
</a>
{% endif %}

</td>

</tr>
{% endfor %}

</table>

</div>

{% endblock %}
